.custom-image1
{
            height:300px;
            width:600px;
          
}  
     h1     
{
            font-style: italic;
}
     h2     
{
            color:grey;
          text-transform:uppercase;
            font-style: italic;
}
.container
{			
			text-align:left;
             padding:20px;
             background-color: white;
             box-shadow: 0 0 10px white;
             box-sizing:border-box;
             border-radius:10px;
             max-width:1500px;
             margin:0 auto;
             width:90%;

}
h3          
{
            text-transform: uppercase;
}
h4
{
             font-weight:100;
            font-family:Georgia,'Times New Roman', serif; 
            font-size:larger;
             letter-spacing:0.01em;
            line-height: 1.6;
}
p
{
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 10cqmin;
            
}
ul{
			list-style-type:none;
			margin:0;
			padding:0;
			overflow:hidden;
			background-color:white;
	}
li{
			float:left;
			text-transform:uppercase;
}
li a{
			display:block;
			color:black;
			padding:14px 16px;
			text-align:center;
			text-decoration:none;
}

li a:hover{
			text-decoration:underline;
			text-decoration-color:red;
}
header{
	text-align:center;
}
.one{
	height:40px;
	width:60%;
	padding-bottom:6%;
	
}
.two{
	height:40px;
	width:60%;
	padding-bottom:7%;
}
.three{
	height:40px;
	width:60%;
	padding-bottom:25%;
}
.four{
	height:40px;
	width:60%;
	padding-bottom:30%;
}
.five{
	height:40px;
	width:60%;
	padding-bottom:40%;
}
.six{
	height:40px;
	width:60%;
	padding-bottom:18%;
}
.seven{
	height:40px;
	width:60%;
	padding-bottom:50%;
}
.eight{
	height:40px;
	width:60%;
	padding-bottom:21%;
}
.nine{
	height:40px;
	width:60%;
	padding-bottom:5%;
}


